:root {
  --primary-color: #062a3d;
  --secondary-color: #05202d;
  --tertiary-color: #083349;
  --quaternary-color: #042435;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  background-color: var(--secondary-color);
}

table {
  border: 1px solid var(--tertiary-color);
}

main h2,
b {
  color: white;
}

main h2 {
  font-size: 1.1rem;
}

main b {
  font-size: 1.2rem;
  font-weight: normal;
}

footer {
  background-color: var(--quaternary-color);
}

footer .social {
  background-color: var(--primary-color);
}

table,
tr,
td {
  border-collapse: collapse;
}

table b {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
}

table tbody tr:nth-child(even) {
  background-color: var(--quaternary-color);
}

.produtos {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.produtos-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  align-items: center;
  height: 55px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--tertiary-color);
}

.produtos-footer {
  background-color: var(--tertiary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  gap: 5px;
}

.produtos-footer label {
  color: white;
  font-weight: bold;
}

.produtos-footer {
  width: 100%;
}

.produtos-footer input {
  width: 50%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: white;
}

.produtos-footer .validar-cupom {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.produtos-footer .validar-cupom:hover {
  color: var(--primary-color);
  background-color: white;
}

.produtos-header button {
  background-color: rgb(165, 35, 35);
  padding: 5 15px;
}

.produto-info {
  margin-left: 10px;
  display: flex;
  gap: 5px;
  color: white;
}

.produto-info-category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.produto-info .produto-nome {
  font-size: 1.2rem;
  color: goldenrod;
}

.produto-info .produto-categoria {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  color: grey;
}


.quantity-box {
  margin-right: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 3px;
  padding: 5px;
  width: 60px;
  outline: none;
  text-align: center;
}

.quantity-box .increase,
.quantity-box .decrease {
  cursor: pointer;
  color: grey;
}

.excluirProduto {
  color: #a6a6a6;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 5px;
  cursor: pointer;
}

.produtos-header button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.resumo {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tertiary-color);
  border-radius: 3px;
  margin-right: 40px;
  width: 20%;
  height: fit-content;
}

.resumo-head {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  height: 55px;
}

.resumo .resumo-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.resumo-footer {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  height: 55px;
}

.resumo-footer button {
  background-color: #47d62d;
  color: black;
  text-transform: capitalize;
}

.resumo-footer button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.remove-all,
.finish-purchase {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: white;
}

table td img {
  margin-top: 5px;
}

@media (max-width: 911px) {
  main {
    flex-direction: column;
    gap: 15px;
  }

  table {
    display: inline-table;
    width: 100%;
  }

  .produtos {
    width: 100%;
  }

  .resumo {
    width: 100%;
  }

  .resumo-footer button {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .produtos-header button {
    padding: 0;
  }
}