/* Seria muito mais facil ter feito isso com SASS mas eu percebi isso tarde de mais e fiquei com preguiça */

:root {
  --primary-color: #062a3d;
  --secondary-color: #05202d;
  --tertiary-color: #083349;
  --quaternary-color: #042435;
}

main {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.tabs {
  display: flex;
}

.tabs .tab-itens {
  padding: 15px;
  color: white;
}

.tab-itens:nth-child(1) {
  background-color: var(--secondary-color);
}

.tab-content {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 20px;
  color: white;
}

.tab-content .top {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.tab-content .top select,
button {
  padding: 5px 15px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
}

.tab-content .top button:hover {
  background-color: white;
  color: var(--primary-color);
}

.tab-content .top .search-item {
  display: flex;
  height: 35px;
}

.tab-content .top .search-item input {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 20px;
  color: white;
}

.tab-content .top .search-item i {
  padding: 10px;
  background-color: var(--tertiary-color);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.tab-content .top .search-item i:hover {
  background-color: white;
  color: var(--tertiary-color);
}

.tab-content .mid .list table {
  width: 100%;
  margin-top: 20px;
}

.tab-content .mid .list table thead {
  text-align: left;
}

.tabela-produtos,
th,
td {
  border: 1px solid var(--tertiary-color);
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
  padding: 20px 0;
}

.tab-content .mid .list table th {
  text-transform: capitalize;
  font-weight: normal;
  cursor: pointer;
}

.tab-content .mid .list table tr td:nth-child(1) {
  width: 400px;
}

.tab-content .mid .list table tr td:nth-child(2) {
  width: 350px;
}

.tab-content .mid .list table tr td:nth-child(3) {
  width: 150px;
}

.tab-content .mid .list table tr td:nth-child(4) {
  width: 100px;
}

.tab-content .mid .list table thead th:nth-child(1) b {
  margin-left: 150px;
}

.tab-content .mid .list table thead th:nth-child(2) b {
  margin-left: 80px;
}

.tab-content .mid .list table thead th:nth-child(5) {
  text-align: center;
}

.tab-content .mid .list table tr:nth-child(even) {
  background-color: var(--quaternary-color);
}

.nome_icone {
  margin-left: 10px;
  display: flex;
}

.nome_icone .titulo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome_icone .titulo .nome-item {
  font-size: 1.5rem;
  color: goldenrod;
  margin-left: 10px;
}

.nome_icone .titulo .categoria-item {
  margin-left: 10px;
  font-size: 0.9rem;
  color: grey;
  margin-left: 5px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.seller {
  display: flex;
  gap: 20px;
  width: 250px;
}

.seller .seller-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.seller .seller-icon::after {
  content: "";
  background-image: url(/img/user.png);
  background-size: cover;
  border: 3px solid aqua;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.seller .seller-lvl {
  order: 2;
}

.seller .seller-lvl {
  color: aqua;
  justify-self: center;
}

.seller .seller-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.seller .seller-info .seller-total-orders {
  color: grey;
  font-size: 0.9rem;
}

.seller .seller-info .seller-member-since {
  color: grey;
  font-size: 0.9rem;
}

.seller .seller-info .seller-stars-rate {
  color: gold;
  font-size: 0.9rem;
}

.seller .seller-info .seller-stars-rate::after {
  margin-left: 5px;
  content: "";
  display: inline-block;
  background-image: url(/img/stars.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 15px;
}

.tab-content .mid .list .deliver-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80px;
}

.tab-content .mid .list .deliver-time .deliver-text {
  font-size: 0.9rem;
  color: grey;
}

.tab-content .mid .list .compra .preco {
  font-size: 1.8rem;
}

.tabela-produtos .compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comprar {
  margin-top: 10px;
  width: 150px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  background-color: #47d62d;
}

.comprar:disabled {
  opacity: 50%;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.lista-opcoes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}

footer h4 {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

footer ul {
  color: grey;
  font-size: 0.8rem;
  padding: 3px 0;
}

footer ul li {
  padding: 3px 0;
  cursor: pointer;
  list-style: none;
}

footer ul li:hover {
  color: goldenrod;
}

.pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pagamento .imagem-pagamentos::after {
  content: "";
  background-image: url(../img/pagamentos.png);
  display: inline-block;
  width: 354px;
  height: 78px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.social {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--quaternary-color);
  padding: 50px 0;
}

.icones {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  cursor: pointer;
}

.facebook::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/facebook.png);
  background-size: 100%;
}

.instagram::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/instagram.png);
  background-size: 100%;
}

.twitter::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/twitter.png);
  background-size: 100%;
}

.linkedin::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/linkedin.png);
  background-size: 100%;
}

.youtube::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/youtube.png);
  background-size: 100%;
}

footer b {
  color: grey;
  font-size: 0.8rem;
  padding: 20px 0;
}

@media (max-width: 768px) {

  .tabela-produtos,
  .tabela-produtos thead,
  th {
    border: none;
  }

  .tabela-produtos thead {
    display: none;
  }

  .tabela-produtos,
  .tabela-produtos tbody,
  .tabela-produtos tr,
  .tabela-produtos td {
    display: block;
    min-width: 100%;
  }

  .tabela-produtos tr,
  .tabela-produtos td {
    border: 1px solid var(--tertiary-color);
  }

  .tabela-produtos tr {
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .tabela-produtos td {
    padding: 15px;
  }

  .tabela-produtos td:nth-child(3) {
    display: none;
  }

  .tabela-produtos .compra .comprar {
    width: 100%;
  }
}

@media (max-width: 354px) {
  .pagamento .imagem-pagamentos::after {
    width: 300px;
  }
}

.alert {
  position: fixed;
  color: white;
  background-color: #fc7703;
  padding: 10px 20px;
  border-radius: 5px;
  top: 30px;
  left: -15px;
  z-index: 5;
  display: flex;
  gap: 15px;
  animation: alertSlide 0.5s ease-in;
}

.alert .closeAlert {
  cursor: pointer;
  opacity: 50%;
}

@keyframes alertSlide {
  0% {
    transform: translateX(-100%);
  }

  100% {}
}